.cw-d2h-d-none {
  display: none;
}

.cw-d2h-wrapper {
  text-align: left;
}

.cw-d2h-file-header {
  display: flex;
  height: 40px;
  padding: 5px 10px;
  border-bottom: 1px solid #CBD5E0;
  background-color: #FAFBFD;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.cw-d2h-file-header.uncollapse {
  border-color: transparent;
}

.cw-d2h-file-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  font-size: 12px;
  line-height: 29px;
}

.cw-d2h-lines-added {
  color: #14AB5B;
  margin-right: 10px;
}

.cw-d2h-lines-deleted {
  border: none;
  color: #EA3736;
}

.cw-d2h-to-view {
  cursor: pointer;
  font-size: 12px;
  color: #3A84FF;
  width: 50px;
  text-align: right;
  line-height: 29px;
}

.cw-d2h-file-name-wrapper {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  font-size: 15px;
}

.cw-d2h-file-name {
  color: #081E40;
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.cw-d2h-file-wrapper {
  border: 1px solid #CBD5E0;
  border-radius: 5px;
  margin-bottom: 1em;
  overflow: hidden;
}

.cw-d2h-file-collapse {
  justify-content: flex-end;
  display: none;
  cursor: pointer;
  font-size: 12px;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #CBD5E0;
  padding: 4px 8px;
}

.cw-d2h-file-collapse.cw-d2h-selected {
  background-color: #c8e1ff;
}

.cw-d2h-file-collapse-input {
  margin: 0 4px 0 0;
}

.cw-d2h-diff-table {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Menlo', 'Consolas', monospace;
  font-size: 13px;
}

.cw-d2h-files-diff {
  display: block;
  width: 100%;
  position: relative;
}

.cw-d2h-file-diff {
  overflow-y: hidden;
}

.cw-d2h-file-side-diff {
  display: inline-block;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 50%;
  margin-right: -4px;
  /* margin-bottom: -8px; */
}

.cw-d2h-code-line {
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  width: 100%;
  /* Compensate for the absolute positioning of the line numbers */
  padding: 0 8em;
}

.cw-d2h-code-side-line {
  display: inline-block;
  white-space: nowrap;
  user-select: none;
  width: 100%;
  /* Compensate for the absolute positioning of the line numbers */
  padding: 0 4.5em;
  height: 19px;
  line-height: 19px;
}

.cw-d2h-info .cw-d2h-code-side-line {
  height: auto;
}

.cw-d2h-code-line-ctn {
  display: inline-block;
  background: none;
  padding: 0;
  word-wrap: normal;
  white-space: pre;
  user-select: text;
  width: 100%;
  vertical-align: middle;
}

.cw-d2h-code-line del,
.cw-d2h-code-side-line del {
  display: inline-block;
  margin-top: -1px;
  text-decoration: none;
  background-color: #fac5cd;
  border-radius: 0.2em;
  vertical-align: middle;
}

.cw-d2h-code-line ins,
.cw-d2h-code-side-line ins {
  display: inline-block;
  margin-top: -1px;
  text-decoration: none;
  background-color: #c7f0d2;
  border-radius: 0.2em;
  text-align: left;
  vertical-align: middle;
}

.cw-d2h-code-line-prefix {
  display: inline;
  background: none;
  padding: 0;
  word-wrap: normal;
  white-space: pre;
}

.line-num1 {
  box-sizing: border-box;
  float: left;
  width: 3.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0.5em 0 0.5em;
}

.line-num2 {
  box-sizing: border-box;
  float: right;
  width: 3.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0.5em 0 0.5em;
}

.cw-d2h-code-linenumber {
  cursor: pointer;
  box-sizing: border-box;
  width: 7.5em;
  /* Keep the numbers fixed on line contents scroll */
  position: absolute;
  display: inline-block;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
  border: solid #eeeeee;
  border-width: 0 1px 0 1px;
}

.cw-d2h-code-linenumber.cw-d2h-info {
  display: flex;
  direction: initial;
}

.cw-d2h-code-side-linenumber .load-more {
  width: 100%;
  height: 100%;
  padding: 0;
}

.load-more {
  width: 50%;
  padding: 0 0.5em;
}

.cw-d2h-code-side-linenumber:hover,
.cw-d2h-code-linenumber:hover {
  color: rgba(0, 0, 0, 0.6);
}

.cw-d2h-code-side-linenumber {
  /* Keep the numbers fixed on line contents scroll */
  cursor: pointer;
  position: absolute;
  display: inline-block;
  box-sizing: border-box;
  width: 4em;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.3);
  text-align: right;
  border: solid #eeeeee;
  border-width: 0 1px 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 0.5em 0 0.5em;
}

.cw-d2h-code-side-emptyplaceholder,
.cw-d2h-emptyplaceholder {
  background-color: #fafafa;
  border-color: #e1e1e1;
}

.cw-d2h-code-linenumber,
.cw-d2h-code-side-linenumber,
.cw-d2h-code-line-prefix,
.cw-d2h-emptyplaceholder {
  user-select: none;
}

.cw-d2h-code-linenumber,
.cw-d2h-code-side-linenumber {
  direction: rtl;
  line-height: 19px;
}

.cw-d2h-code-linenumber.cw-d2h-info,
.cw-d2h-code-side-linenumber.cw-d2h-info {
  background-color: #dbedff;
}

.cw-d2h-code-linenumber.cw-d2h-del,
.cw-d2h-code-side-linenumber.cw-d2h-del {
  background-color: #ffdce0;
}

.cw-d2h-code-linenumber.cw-d2h-ins,
.cw-d2h-code-side-linenumber.cw-d2h-ins {
  background-color: #ccffd8;
}

/*
 * Changes Highlight
 */

.cw-d2h-del {
  background-color: #fee8e9;
  border-color: #fac5cd;
}

.cw-d2h-ins {
  background-color: #ecfdf0;
  border-color: #c7f0d2;
}

.cw-d2h-info {
  background-color: #f1f8ff;
  color: rgba(27, 31, 35, 0.7);
  border-color: #dbedff;
  height: 19px;
  line-height: 1;
}

/*
 * File Summary List
 */

.cw-d2h-file-list-wrapper {
  margin-bottom: 10px;
}

.cw-d2h-file-list-wrapper a {
  text-decoration: none;
  color: #3572b0;
}

.cw-d2h-file-list-wrapper a:visited {
  color: #3572b0;
}

.cw-d2h-file-list-header {
  text-align: left;
}

.cw-d2h-file-list-title {
  font-weight: bold;
}

.cw-d2h-file-list-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}

.cw-d2h-file-list {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.cw-d2h-file-list>li {
  border-bottom: #CBD5E0 solid 1px;
  padding: 5px 10px;
  margin: 0;
}

.cw-d2h-file-list>li:last-child {
  border-bottom: none;
}

.cw-d2h-file-switch {
  display: none;
  font-size: 10px;
  cursor: pointer;
}

.cw-d2h-icon {
  vertical-align: middle;
  margin-right: 10px;
  fill: currentColor;
  cursor: pointer;
}

.cw-d2h-icon.collapse-icon {
  color: #8797AA;
  transition: transform linear 0.3s;
}

.cw-d2h-file-header.uncollapse .cw-d2h-icon.collapse-icon {
  transform: rotate(-90deg);
}

.cw-d2h-file-header.uncollapse+.cw-d2h-files-diff,
.cw-d2h-file-header.uncollapse+.cw-d2h-file-diff {
  display: none;
}

.cw-d2h-deleted {
  color: #db3b21;
}

.cw-d2h-added {
  color: #168f48;
}

.cw-d2h-changed {
  color: #d0b44c;
}

.cw-d2h-moved {
  color: #3572b0;
}

.cw-d2h-tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 10px;
  margin-left: 5px;
  border-radius: 2px;
  padding: 2px 4px;
}

.cw-d2h-deleted-tag {
  /* border: #db3b21 1px solid; */
  color: #ea3736;
  background: rgba(234, 55, 54, 0.1);
}

.cw-d2h-added-tag {
  /* border: #168f48 1px solid; */
  color: #14ab5b;
  background: rgba(20, 171, 91, 0.1);
}

.cw-d2h-changed-tag {
  /* border: #d0b44c 1px solid; */
  color: #3A84FF;
  background: rgba(58, 132, 255, 0.1);
}

.cw-d2h-moved-tag {
  /* border: #3572b0 1px solid; */
  color: #562ED0;
  background: rgba(86, 46, 208, 0.1);
}

span.tool-bar {
  line-height: 24px;
  padding: 2px 0;
}

svg.tool-bar-icon {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  cursor: pointer;
}

span.line-comment-btn {
  display: inline-block;
  width: 16px;
  height: 16px;
  text-align: center;
  border: 1px solid transparent;
  line-height: 14px;
  border-radius: 16px;
  background: linear-gradient(#0472f1, #0366d6);
  color: #fff;
  opacity: 0;
  position: absolute;
  margin-top: 1px;
  margin-left: -4px;
  cursor: pointer;
}

span.line-comment-btn:hover {
  transform: scale(1.2);
}

.cw-d2h-code-line:hover span.line-comment-btn,
.cw-d2h-code-side-line:hover span.line-comment-btn {
  opacity: 1;
}

.code-line-selected td.cw-d2h-code-side-linenumber,
.code-line-selected.cw-d2h-code-linenumber {
  background-color: #c6cced!important;
  border-color: #c6cced;
}

.code-line-selected td.cw-d2h-code-side-linenumber+td,
.code-line-selected.cw-d2h-code-linenumber+td {
  background-color: #c6cced!important;
}

.cw-d2h-expand-all {
    text-align: center;
    border-top: 1px solid #cbd5e0;
    padding: 3px 5px;
    cursor: pointer;
    font-size: 12px;
  }