<div class="cw-d2h-file-list-wrapper">
  <div class="cw-d2h-file-list-header">
    <span class="cw-d2h-file-list-title">Files changed ({{filesNumber}})</span>
    <a class="cw-d2h-file-switch cw-d2h-hide">hide</a>
    <a class="cw-d2h-file-switch cw-d2h-show">show</a>
  </div>
  <ol class="cw-d2h-file-list">
    {{{files}}}
  </ol>
</div>
