<tr>
    <td class="{{lineClass}} {{CSSLineClass.INFO}}">
        {{#isNewRender}}
        <div class="load-more" data-new-line-number="{{newStartLine}}">...</div>
        {{/isNewRender}}
        {{#isOldRender}}
        <div class="load-more" data-old-line-number="{{oldStartLine}}">...</div>
        {{/isOldRender}}
    </td>
    <td class="{{CSSLineClass.INFO}}">
        <div class="{{contentClass}}">{{{blockHeader}}}</div>
    </td>
</tr>
