{{#isOldRender}}
<tbody data-file-mode="old" data-block-title="{{{blockTitle}}}">
  {{/isOldRender}}
  {{#isNewRender}}
<tbody data-file-mode="new" data-block-title="{{{blockTitle}}}">
  {{/isNewRender}}
  <tr>
    {{#isRender}}
    <td class="{{lineClass}} {{CSSLineClass.INFO}}">
      {{#isOldRender}}
      <div class="load-more" data-file-mode="old" data-file-name="{{oldName}}" data-old-block-start="{{oldBlockStart}}"
        data-old-block-end="{{oldBlockEnd}}" data-new-block-start="{{newBlockStart}}"
        data-new-block-end="{{newBlockEnd}}" data-block-title="{{blockTitle}}">...</div>
      {{/isOldRender}}
      {{#isNewRender}}
      <div class="load-more" data-file-mode="new" data-file-name="{{newName}}" data-old-block-start="{{oldBlockStart}}"
        data-old-block-end="{{oldBlockEnd}}" data-new-block-start="{{newBlockStart}}"
        data-new-block-end="{{newBlockEnd}}" data-block-title="{{blockTitle}}">...</div>
      {{/isNewRender}}
    </td>
    {{/isRender}}
    <td class="{{CSSLineClass.INFO}}">
      <div class="{{contentClass}}">{{{blockHeader}}}</div>
    </td>
  </tr>
