<span class="cw-d2h-file-name-wrapper">
  {{>collapseIcon}}
  <span class="cw-d2h-file-name">{{fileDiffName}}</span>
</span>

<div class="cw-d2h-file-stats">
  <span class="cw-d2h-lines-added">+{{addedLines}}</span>
  <span class="cw-d2h-lines-deleted">-{{deletedLines}}</span>
</div>

<div class="cw-d2h-to-view">查看</div>
