<div id="{{fileHtmlId}}" class="cw-d2h-file-wrapper" data-lang="{{file.language}}">
  <div class="cw-d2h-file-header">
    {{{filePath}}}
  </div>
  <div class="cw-d2h-file-diff">
    <div class="cw-d2h-code-wrapper">
      <table class="cw-d2h-diff-table">
        <tbody class="cw-d2h-diff-tbody">
          {{{diffs}}}
        </tbody>
      </table>
    </div>
  </div>
</div>
