<div id="{{fileHtmlId}}" class="cw-d2h-file-wrapper" data-lang="{{file.language}}">
  <div class="cw-d2h-file-header" id="header">
    {{{filePath}}}
  </div>
  <div class="cw-d2h-files-diff">
    <div class="cw-d2h-file-side-diff">
      <div class="cw-d2h-code-wrapper">
        <table class="cw-d2h-diff-table">
          <tbody class="cw-d2h-diff-tbody">
            {{{diffs.left}}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="cw-d2h-file-side-diff">
      <div class="cw-d2h-code-wrapper">
        <table class="cw-d2h-diff-table">
          <tbody class="cw-d2h-diff-tbody">
            {{{diffs.right}}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
